# Public
NEXT_PUBLIC_SANITY_PROJECT=your-project-id
NEXT_PUBLIC_SANITY_DATASET=your-dataset
NEXT_PUBLIC_SANITY_STUDIO_URL=your-studio-url

# Private
SANITY_API_READ_TOKEN=your-viewer-token
SANITY_REVALIDATE_SECRET=your-revalidation-secret(openssl rand -base64 32)
SHOPIFY_STORE_DOMAIN=your-shopify-url
SHOPIFY_STOREFRONT_PRIVATE_ACCESS_TOKEN=your-shopify-token